/*                           specification                       */

ul, li{
	display: block;
	padding: 0;
	margin: 0;
}


/*                           specification end                       */



/*                           header-main start                       */
.juil-style{
	background: url(../img/bg-2.png) center center no-repeat;
	color: white;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.juil-style a{
	font-size: 1.5vw;
	color: white;
}
footer a{
	color: white;
}

.logo a{
	font-size: 7.5vw;
	text-decoration: none;
}

.menu{

}
.menu-l, .about-l{
	padding-top: 3vw;
}
.menu-l a, .about-l a{
	font-size: 2vw;
}

.menu__item{
	margin: 50px;
}
.sub{
	padding-top: 53vh;
	font-size: 2vw;
}
.icons{
	height: 2vw;
	margin-right: 2vw;
	font-size: 2vw;
}
.icons_Path{
	margin-right: 2vw;
	height: 2vw;
	opacity: .4;
	text-align: center;
}
/*                           header-main end                       */
.traditional{
	background: url(../img/bg.png) center center no-repeat;
	height: 100vh;
}
.interior{
	background: url(../img/bg-2.png)  center center no-repeat;
	height: 100vh;
}
.chef{
	background: url(../img/bg-3.png) center center no-repeat;
	height: 100vh;
}
.dish{
	background: url(../img/bg-4.png) center center no-repeat;
	height: 100vh;
}
.subscribe{
	background: url(../img/bg-5.png) center center no-repeat;
	height: 100vh;
	width: 100%;
}
.sub-min{
	font-size: 240%;
	color: white;
	margin-top: 4%;
	letter-spacing: 0.3vw;
}
.sub-max{
	letter-spacing: 0.5vw;
	font-weight: bold;
	font-size: 850%;
	color: white;
}
.sub_input{
	border-radius: 0;
	min-width: 30vw;
	min-height: 4vw;
}
.sub_send{
	width: 100%; 
	height: 100%;
	color: white;
}
/*                                              menu start                            */

.menudish{
	color: black;
	background-color: rgba(255,255,255, 0.5);
}
.menudish td{
	width: 25vw; 
	height: 4vw; 
	border: 0.1vw solid black;
	text-align: center;
}

/*												menu end                              */
@media(max-width: 420px){
	.sub-min{
	font-size: 10vw;
}
	.sub-max{
	font-size: 25vw;
}
.sub_input{
	min-width: 35vw;
	min-height: 6vw;
}
}

@media(max-width: 2950px){

}
.copyright{
	color: white;
}