
.in_restaurant, .home_delivery{
	 background: rgba(0, 0, 0, 0); 
}
.restaurant-block{
	display: flex;
	justify-content: center;
}
.break{
	flex-basis: 100%;
	height: 0%;
}
.first-row a{
	transition: color .5s;
	color: white;
	font-size: 2vw;
	text-decoration: none;
	background-color: none;
}
.first-row a:hover{
	color: #323232;
	border-bottom: 4px solid #323232;
}
.map-bg-order{
	background: url(../img/chandelier-bg.png) center center no-repeat;
	height: 100vh;
	padding-bottom: 0;
}
.first-row{
	color: white;
}
.choose_dish{
	color: black;
	font-size: 2.4vw;
	border-bottom: 5px solid #323232;
}
.dish_menu{
	margin-top: 1vw;
	background-color: gray;
	opacity: 50%;
	height: 40vh;
	width: 50vw;
}
.reservation_number{
	margin-top: 2vw;
	font-size: 1.3vw;
}
.button_reserve{
	margin-top: 1vw;
}